<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RouterIPAddress" value="192.168.1.1" />
    <add key="RouterMACAddress" value="E4F4C609C352" />
    <add key="RouterUserName" value="myUserName" />
    <add key="RouterPassword" value="myPassword" />
    <add key="DestinationPingAddress" value="8.8.8.8" />
  </appSettings>
</configuration>